In [19]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [23]:
df = pd.read_csv(
    'movies.csv',
    sep='\t',                 
    quotechar='"',            
    engine='python',          
    on_bad_lines='skip'       
)

In [24]:

df.head()

,id,title,overview,tags,genres,director,actors,characters,year,votes,rating,popularity,budget,poster_url
0,436270,Black Adam,"Nearly 5,000 years after he was bestowed with ...",NaN,"Action,Fantasy,Science Fiction",Jaume Collet-Serra,"Sarah Shahi,Dwayne Johnson,Henry Cavill,Pierce...","Adrianna Tomaz,Black Adam / Teth Adam,Clark Ke...",2022,1144,6.863,6202.882,200000000,https://image.tmdb.org/t/p/w154/pFlaoHTZeyNkG8...
1,882598,Smile,"After witnessing a bizarre, traumatic incident...",NaN,"Horror,Mystery,Thriller",Parker Finn,"Kyle Gallner,Sosie Bacon,Caitlin Stasey,Kal Pe...","Joel,Dr. Rose Cotter,Laura Weaver,Dr. Morgan D...",2022,615,6.808,3910.444,17000000,https://image.tmdb.org/t/p/w154/aPqcQwu4VGEewP...
2,505642,Black Panther: Wakanda Forever,"Queen Ramonda, Shuri, M’Baku, Okoye and the Do...",NaN,"Action,Adventure,Science Fiction",Ryan Coogler,"Letitia Wright,Angela Bassett,Tenoch Huerta,Mi...","Shuri,Ramonda,Namor,N'Jadaka / Erik 'Killmonge...",2022,718,7.512,3492.065,250000000,https://image.tmdb.org/t/p/w154/sv1xJUazXeYqAL...
3,966220,Sniper: The White Raven,Mykola is an eccentric pacifist who wants to b...,NaN,"Drama,Action,War",Marian Bushan,"Maryna Koshkina,Roman Semysal,Andrei Mostrenko...","Nastia,Brigade commander,Cap,,Mykola,",2022,84,7.423,2403.163,1000000,https://image.tmdb.org/t/p/w154/lZOODJzwuQo0et...
4,663712,Terrifier 2,"After being resurrected by a sinister entity, ...",NaN,"Horror,Thriller",Damien Leone,"Lauren LaVera,David Howard Thornton,Katie Magu...","Sienna,Art the Clown,Monica Brown,Victoria Hey...",2022,612,7.000,2015.172,250000,https://image.tmdb.org/t/p/w154/b6IRp6Pl2Fsq37...

In [25]:
df.shape

(9751, 14)

In [27]:
df = df.dropna(subset=['title', 'year', 'genres'])

In [28]:
df.shape

(9701, 14)

In [29]:
df.head()

,id,title,overview,tags,genres,director,actors,characters,year,votes,rating,popularity,budget,poster_url
0,436270,Black Adam,"Nearly 5,000 years after he was bestowed with ...",NaN,"Action,Fantasy,Science Fiction",Jaume Collet-Serra,"Sarah Shahi,Dwayne Johnson,Henry Cavill,Pierce...","Adrianna Tomaz,Black Adam / Teth Adam,Clark Ke...",2022,1144,6.863,6202.882,200000000,https://image.tmdb.org/t/p/w154/pFlaoHTZeyNkG8...
1,882598,Smile,"After witnessing a bizarre, traumatic incident...",NaN,"Horror,Mystery,Thriller",Parker Finn,"Kyle Gallner,Sosie Bacon,Caitlin Stasey,Kal Pe...","Joel,Dr. Rose Cotter,Laura Weaver,Dr. Morgan D...",2022,615,6.808,3910.444,17000000,https://image.tmdb.org/t/p/w154/aPqcQwu4VGEewP...
2,505642,Black Panther: Wakanda Forever,"Queen Ramonda, Shuri, M’Baku, Okoye and the Do...",NaN,"Action,Adventure,Science Fiction",Ryan Coogler,"Letitia Wright,Angela Bassett,Tenoch Huerta,Mi...","Shuri,Ramonda,Namor,N'Jadaka / Erik 'Killmonge...",2022,718,7.512,3492.065,250000000,https://image.tmdb.org/t/p/w154/sv1xJUazXeYqAL...
3,966220,Sniper: The White Raven,Mykola is an eccentric pacifist who wants to b...,NaN,"Drama,Action,War",Marian Bushan,"Maryna Koshkina,Roman Semysal,Andrei Mostrenko...","Nastia,Brigade commander,Cap,,Mykola,",2022,84,7.423,2403.163,1000000,https://image.tmdb.org/t/p/w154/lZOODJzwuQo0et...
4,663712,Terrifier 2,"After being resurrected by a sinister entity, ...",NaN,"Horror,Thriller",Damien Leone,"Lauren LaVera,David Howard Thornton,Katie Magu...","Sienna,Art the Clown,Monica Brown,Victoria Hey...",2022,612,7.000,2015.172,250000,https://image.tmdb.org/t/p/w154/b6IRp6Pl2Fsq37...

In [30]:
df = df.drop(columns=['tags'])

In [31]:
df.head()

,id,title,overview,genres,director,actors,characters,year,votes,rating,popularity,budget,poster_url
0,436270,Black Adam,"Nearly 5,000 years after he was bestowed with ...","Action,Fantasy,Science Fiction",Jaume Collet-Serra,"Sarah Shahi,Dwayne Johnson,Henry Cavill,Pierce...","Adrianna Tomaz,Black Adam / Teth Adam,Clark Ke...",2022,1144,6.863,6202.882,200000000,https://image.tmdb.org/t/p/w154/pFlaoHTZeyNkG8...
1,882598,Smile,"After witnessing a bizarre, traumatic incident...","Horror,Mystery,Thriller",Parker Finn,"Kyle Gallner,Sosie Bacon,Caitlin Stasey,Kal Pe...","Joel,Dr. Rose Cotter,Laura Weaver,Dr. Morgan D...",2022,615,6.808,3910.444,17000000,https://image.tmdb.org/t/p/w154/aPqcQwu4VGEewP...
2,505642,Black Panther: Wakanda Forever,"Queen Ramonda, Shuri, M’Baku, Okoye and the Do...","Action,Adventure,Science Fiction",Ryan Coogler,"Letitia Wright,Angela Bassett,Tenoch Huerta,Mi...","Shuri,Ramonda,Namor,N'Jadaka / Erik 'Killmonge...",2022,718,7.512,3492.065,250000000,https://image.tmdb.org/t/p/w154/sv1xJUazXeYqAL...
3,966220,Sniper: The White Raven,Mykola is an eccentric pacifist who wants to b...,"Drama,Action,War",Marian Bushan,"Maryna Koshkina,Roman Semysal,Andrei Mostrenko...","Nastia,Brigade commander,Cap,,Mykola,",2022,84,7.423,2403.163,1000000,https://image.tmdb.org/t/p/w154/lZOODJzwuQo0et...
4,663712,Terrifier 2,"After being resurrected by a sinister entity, ...","Horror,Thriller",Damien Leone,"Lauren LaVera,David Howard Thornton,Katie Magu...","Sienna,Art the Clown,Monica Brown,Victoria Hey...",2022,612,7.000,2015.172,250000,https://image.tmdb.org/t/p/w154/b6IRp6Pl2Fsq37...

In [32]:
df = df.drop(columns=['id'])

In [33]:
df.head()

,title,overview,genres,director,actors,characters,year,votes,rating,popularity,budget,poster_url
0,Black Adam,"Nearly 5,000 years after he was bestowed with ...","Action,Fantasy,Science Fiction",Jaume Collet-Serra,"Sarah Shahi,Dwayne Johnson,Henry Cavill,Pierce...","Adrianna Tomaz,Black Adam / Teth Adam,Clark Ke...",2022,1144,6.863,6202.882,200000000,https://image.tmdb.org/t/p/w154/pFlaoHTZeyNkG8...
1,Smile,"After witnessing a bizarre, traumatic incident...","Horror,Mystery,Thriller",Parker Finn,"Kyle Gallner,Sosie Bacon,Caitlin Stasey,Kal Pe...","Joel,Dr. Rose Cotter,Laura Weaver,Dr. Morgan D...",2022,615,6.808,3910.444,17000000,https://image.tmdb.org/t/p/w154/aPqcQwu4VGEewP...
2,Black Panther: Wakanda Forever,"Queen Ramonda, Shuri, M’Baku, Okoye and the Do...","Action,Adventure,Science Fiction",Ryan Coogler,"Letitia Wright,Angela Bassett,Tenoch Huerta,Mi...","Shuri,Ramonda,Namor,N'Jadaka / Erik 'Killmonge...",2022,718,7.512,3492.065,250000000,https://image.tmdb.org/t/p/w154/sv1xJUazXeYqAL...
3,Sniper: The White Raven,Mykola is an eccentric pacifist who wants to b...,"Drama,Action,War",Marian Bushan,"Maryna Koshkina,Roman Semysal,Andrei Mostrenko...","Nastia,Brigade commander,Cap,,Mykola,",2022,84,7.423,2403.163,1000000,https://image.tmdb.org/t/p/w154/lZOODJzwuQo0et...
4,Terrifier 2,"After being resurrected by a sinister entity, ...","Horror,Thriller",Damien Leone,"Lauren LaVera,David Howard Thornton,Katie Magu...","Sienna,Art the Clown,Monica Brown,Victoria Hey...",2022,612,7.000,2015.172,250000,https://image.tmdb.org/t/p/w154/b6IRp6Pl2Fsq37...

In [34]:
df.isnull().sum()

title          0
overview      50
genres         0
director      44
actors        65
characters    71
year           0
votes          0
rating         0
popularity     0
budget         0
poster_url    10
dtype: int64

In [35]:
df = df.dropna(subset=['poster_url', 'characters', 'actors', 'director', 'overview'])

In [36]:
df.head()

,title,overview,genres,director,actors,characters,year,votes,rating,popularity,budget,poster_url
0,Black Adam,"Nearly 5,000 years after he was bestowed with ...","Action,Fantasy,Science Fiction",Jaume Collet-Serra,"Sarah Shahi,Dwayne Johnson,Henry Cavill,Pierce...","Adrianna Tomaz,Black Adam / Teth Adam,Clark Ke...",2022,1144,6.863,6202.882,200000000,https://image.tmdb.org/t/p/w154/pFlaoHTZeyNkG8...
1,Smile,"After witnessing a bizarre, traumatic incident...","Horror,Mystery,Thriller",Parker Finn,"Kyle Gallner,Sosie Bacon,Caitlin Stasey,Kal Pe...","Joel,Dr. Rose Cotter,Laura Weaver,Dr. Morgan D...",2022,615,6.808,3910.444,17000000,https://image.tmdb.org/t/p/w154/aPqcQwu4VGEewP...
2,Black Panther: Wakanda Forever,"Queen Ramonda, Shuri, M’Baku, Okoye and the Do...","Action,Adventure,Science Fiction",Ryan Coogler,"Letitia Wright,Angela Bassett,Tenoch Huerta,Mi...","Shuri,Ramonda,Namor,N'Jadaka / Erik 'Killmonge...",2022,718,7.512,3492.065,250000000,https://image.tmdb.org/t/p/w154/sv1xJUazXeYqAL...
3,Sniper: The White Raven,Mykola is an eccentric pacifist who wants to b...,"Drama,Action,War",Marian Bushan,"Maryna Koshkina,Roman Semysal,Andrei Mostrenko...","Nastia,Brigade commander,Cap,,Mykola,",2022,84,7.423,2403.163,1000000,https://image.tmdb.org/t/p/w154/lZOODJzwuQo0et...
4,Terrifier 2,"After being resurrected by a sinister entity, ...","Horror,Thriller",Damien Leone,"Lauren LaVera,David Howard Thornton,Katie Magu...","Sienna,Art the Clown,Monica Brown,Victoria Hey...",2022,612,7.000,2015.172,250000,https://image.tmdb.org/t/p/w154/b6IRp6Pl2Fsq37...

In [37]:
df.shape

(9547, 12)

In [38]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9547 entries, 0 to 9750
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       9547 non-null   object
 1   overview    9547 non-null   object
 2   genres      9547 non-null   object
 3   director    9547 non-null   object
 4   actors      9547 non-null   object
 5   characters  9547 non-null   object
 6   year        9547 non-null   int64
 7   votes       9547 non-null   int64
 8   rating      9547 non-null   float64
 9   popularity  9547 non-null   float64
 10  budget      9547 non-null   int64
 11  poster_url  9547 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 969.6+ KB

In [40]:
df.duplicated().sum()

np.int64(0)

In [41]:
df = df.drop(columns='characters')

In [42]:
df.head()

,title,overview,genres,director,actors,year,votes,rating,popularity,budget,poster_url
0,Black Adam,"Nearly 5,000 years after he was bestowed with ...","Action,Fantasy,Science Fiction",Jaume Collet-Serra,"Sarah Shahi,Dwayne Johnson,Henry Cavill,Pierce...",2022,1144,6.863,6202.882,200000000,https://image.tmdb.org/t/p/w154/pFlaoHTZeyNkG8...
1,Smile,"After witnessing a bizarre, traumatic incident...","Horror,Mystery,Thriller",Parker Finn,"Kyle Gallner,Sosie Bacon,Caitlin Stasey,Kal Pe...",2022,615,6.808,3910.444,17000000,https://image.tmdb.org/t/p/w154/aPqcQwu4VGEewP...
2,Black Panther: Wakanda Forever,"Queen Ramonda, Shuri, M’Baku, Okoye and the Do...","Action,Adventure,Science Fiction",Ryan Coogler,"Letitia Wright,Angela Bassett,Tenoch Huerta,Mi...",2022,718,7.512,3492.065,250000000,https://image.tmdb.org/t/p/w154/sv1xJUazXeYqAL...
3,Sniper: The White Raven,Mykola is an eccentric pacifist who wants to b...,"Drama,Action,War",Marian Bushan,"Maryna Koshkina,Roman Semysal,Andrei Mostrenko...",2022,84,7.423,2403.163,1000000,https://image.tmdb.org/t/p/w154/lZOODJzwuQo0et...
4,Terrifier 2,"After being resurrected by a sinister entity, ...","Horror,Thriller",Damien Leone,"Lauren LaVera,David Howard Thornton,Katie Magu...",2022,612,7.000,2015.172,250000,https://image.tmdb.org/t/p/w154/b6IRp6Pl2Fsq37...

In [43]:
df.to_csv('db.csv', index=False)